<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiangdk.pms.mapper.SkuMapper">
  <resultMap id="BaseResultMap" type="com.jiangdk.pms.pojo.entity.Sku">
    <!--@mbg.generated-->
    <!--@Table pms_sku-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="spec_value_list" jdbcType="VARCHAR" property="specValueList" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, spu_id, `name`, price, stock, spec_value_list, `status`, create_time, update_time
  </sql>

  <select id="selectCartItemByIds" resultType="com.jiangdk.pms.pojo.vo.CartItemVO">
    select
      t1.id spu_id,
      t2.id sku_id,
      t1.img,
      t1.name spu_name,
      t2.name sku_name,
      t2.price,
      t2.stock,
      t2.status
    from pms_spu t1
           left join pms_sku t2 on t1.id = t2.spu_id
    where t2.id
    <foreach collection="list" open="IN (" close=")" separator="," item="skuId">
      #{skuId}
    </foreach>
  </select>
</mapper>