<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiangdk.pms.mapper.SpuMapper">
  <resultMap id="BaseResultMap" type="com.jiangdk.pms.pojo.entity.Spu">
    <!--@mbg.generated-->
    <!--@Table pms_spu-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="sales" jdbcType="INTEGER" property="sales" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="img_list" jdbcType="VARCHAR" property="imgList" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="spec_list" jdbcType="VARCHAR" property="specList" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="SpuVOResultMap" type="com.jiangdk.pms.pojo.vo.SpuVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="sales" jdbcType="INTEGER" property="sales" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
    <result column="status" jdbcType="TINYINT" property="status" />

    <result column="spec_list" jdbcType="VARCHAR" property="specList" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    <result column="img_list" jdbcType="VARCHAR" property="imgList" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    
    <collection property="skuList" ofType="com.jiangdk.pms.pojo.vo.SkuVO">
      <id column="sku_id" jdbcType="BIGINT" property="id" />
      <result column="spu_id" jdbcType="BIGINT" property="spuId" />
      <result column="sku_name" jdbcType="VARCHAR" property="name" />
      <result column="sku_price" jdbcType="INTEGER" property="price" />
      <result column="sku_stock" jdbcType="INTEGER" property="stock" />
      <result column="sku_status" jdbcType="INTEGER" property="status" />
      <result column="spec_value_list" jdbcType="VARCHAR" property="specValueList" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </collection>
  </resultMap>

  <sql id="selectSpu">
    select
      t1.id,
      t1.name,
      t2.name category_name,
      t1.category_id,
      t1.price,
      t1.sales,
      t1.img,
      t1.detail,
      t1.status,
      t1.img_list,
      t1.spec_list,
      t3.id sku_id,
      t3.spu_id,
      t3.name sku_name,
      t3.stock sku_stock,
      t3.price sku_price,
      t3.status sku_status,
      t3.spec_value_list
    from pms_spu t1
           left join pms_category t2 on t1.category_id = t2.id
           left join pms_sku t3 on t1.id = t3.spu_id
  </sql>

  <select id="selectSpuById" resultMap="SpuVOResultMap">
    <include refid="selectSpu"/> where t1.id = #{spuId};
  </select>

  <select id="selectSpuPage" resultMap="SpuVOResultMap">
    <include refid="selectSpu"/>
    <where>
      <if test="param.name != '' and param.name != null">
        t1.name like concat('%',#{param.name},'%')
      </if>
      <if test="param.status != null">
        t1.status = #{param.status}
      </if>
      <if test="param.categoryId != null">
        t1.category_id  = #{param.categoryId}
      </if>
    </where>
  </select>
</mapper>